# deps
node_modules/
.pnpm-store/

# build
dist/
build/
coverage/
*.tsbuildinfo

# env / secrets
.env
.env.*
!.env.example

# logs
*.log
.pnpm-debug.log*

# npm pack
*.tgz

# tooling & OS
.DS_Store
.idea/
.vscode/
.artifacts/
